.triple-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;

  .blog-item {
    width: calc(33.33% - 10px);
    margin-bottom: 59px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    a {
      text-decoration: none;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      max-height: 48px;
      min-height: 48px;
      color: #171728;
      line-height: 26px;
      text-decoration: none;
    }

    .details {
      font-size: 14px;
      color: #666;

      .date {
        display: block;
        margin-right: 8px;
        color: #7b7c83;
        text-decoration: none;
      }

      .hashtags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        color: #7b7c83;

        .hashtag {
          margin-right: 8px;
          color: #7b7c83;
          text-decoration: none;
        }
      }
    }
  }
  button.see-more-button svg {
      font-size: 9px;
      margin-bottom: 1px;
      margin-left: 2px;
  }
  
  button.see-more-button {
      width: 206px;
      height: 46px;
      border: 1px solid #707070;
      background: none;
      font-size: 12px;
      margin: 0 auto;
  }
}
