$box1Width: 760px;
$box1Height: 515px;
$box2Width: 365px;
$box2Height: 250px;
$box3Width: 365px;
$box3Height: 250px;

.triple-banner {
  margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.box1,
.box2,
.box3 {
  position: relative;
  margin-bottom: 15px;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .absolute-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;

    h3 {
      margin: 0;
    }

    p {
      margin: 5px 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  .link-arrow {
    cursor: pointer;
    max-width: 53px;
  }
}

.box1 {
  width: $box1Width;
  max-width: 100%;
  height: $box1Height;
  
  .absolute-content {
    left:47px;
    bottom:27px;
    z-index: 2;

    h3 {
        font-size:35px;
        &:nth-child(2) {
            margin-bottom:21px;
        }
      }
  }
  p {
    max-width: 541px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 33px !important;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,1)));
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 1;
  }
}

.box2 {
  width: $box2Width;
  height: $box2Height;
  h3 {
    font-size:18px;
    &:nth-child(2) {
        margin-bottom: 25px;
    }
  }
  .absolute-content {
    left:28px;
    bottom:23px;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,1)));
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 1;
  }
}

.box3 {
  width: $box3Width;
  height: $box3Height;
  h3 {
    font-size:18px;
    &:nth-child(2) {
        margin-bottom: 25px;
    }
  }
  .absolute-content {
    left:28px;
    bottom:23px;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,1)));
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    z-index: 1;
  }
}
.triple-banner {
  margin-bottom:15px;
}