.brands-area {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 101px;
  margin-top: 60px;
}
.brands-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 55px;
  width: 100%;
}

.brand-link {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  max-height: 80px;
  max-width: 115px;

  &:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
button.see-more-button svg {
  font-size: 9px;
  margin-bottom: 1px;
  margin-left: 2px;
}

button.see-more-button {
  width: 206px;
  height: 46px;
  border: 1px solid #707070;
  background: none;
  font-size: 12px;
  margin: 0 auto;
  display: block;
}